<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartnerModeGo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="WcfService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12121/LeagueGoServer/WcfService/"
                binding="netTcpBinding" bindingConfiguration="WcfService"
                contract="WcfService.IWcfService" name="WcfService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <PartnerModeGo.Properties.Settings>
            <setting name="BlackStoneColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="WhiteStoneColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </PartnerModeGo.Properties.Settings>
    </userSettings>
</configuration>